.courses
    position: relative
    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 350px
        height: 500px
        background-position: 0 0
        background-repeat: no-repeat
        background-size: cover
        position: relative
        box-shadow: 10px 10px 10px -3px #323232
        margin: 30px
        &-content
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: flex-end
            width: 90%
            height: 90%
            letter-spacing: 0.7px
            background-position: 100% 100%
            background-repeat: no-repeat
            background-size: 50px 50px
            &-title
                font-family: 'Effra Bold', sans-serif
                font-size: 36px
                text-transform: uppercase
                align-self: flex-end
                text-align: right
                margin: 0
                width: 300px
            &-text
                width: 70%
                align-self: flex-start
                font-size: 24px
            &-link
                position: absolute
                width: 100%
                height: 100%
                top: 0
                left: 0
            // &-link
            //     color: #ffe400
            //     font-family: 'Effra Medium'
            //     font-size: 20px
            //     padding: 5px 15px
            //     display: inline-block
            //     position: relative
            //     transform: translate(-25px, -25px)
            //     &::before
            //         content: ''
            //         position: absolute
            //         top: 0
            //         left: 0
            //         width: 100%
            //         height: 100%
            //         border: 3px solid #ffe400
            //         transition: transform 0.8s
            //         transform: skew(-25deg)
            //     &:hover::before
            //         transform: skew(-25deg) scale(1.1)
.courses-slider__dots
    position: relative
    width: 100px
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    & li
        width: 15px
        height: 15px
        transform: skew(-25deg)
        margin: 0 10px
        & button
            border: none
            background: #323232
            color: transparent
            cursor: pointer
    & li.slick-active button
        background: #ffe400

.slick-initialized .slick-slide
    display: flex