@font-face {
    font-family: 'Effra Regular';
    src:url('../webfonts/DALTON-MAAG-EFFRA-REGULAR.TTF') format('truetype'),
        url('../webfonts/DALTON-MAAG-EFFRA-REGULAR2.TTF') format('truetype');
        
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Effra Light';
    src:url('../webfonts/DALTON-MAAG-EFFRA-LIGHT.TTF') format('truetype'),
        url('../webfonts/DALTON-MAAG-EFFRA-LIGHT2.TTF') format('truetype');
        
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Effra Medium';
    src:url('../webfonts/DALTON-MAAG-EFFRA-MEDIUM.TTF') format('truetype'),
        url('../webfonts/DALTON-MAAG-EFFRA-MEDIUM2.TTF') format('truetype');
        
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Effra Bold';
    src:url('../webfonts/DALTON-MAAG-EFFRA-BOLD.TTF') format('truetype'),
        url('../webfonts/DALTON-MAAG-EFFRA-BOLD2.TTF') format('truetype');
        
    font-weight: 700;
    font-style: normal;
}
